body {
    background-color: #000;
}

.container {
    width: 100%;
}

.row {
    width: 100%;
    max-width: 1075px;
    padding: 60px 15px;
    margin: auto;
}

.inner-content {
    width: 100%;
}

.inner-row {
    width: 100%;
    padding: 40px 15px;
    margin: auto;
}

.column {
    width: 50%;
    float: left;
}

.col5 {
    width: 20%;
    float: left;
}

li {
    padding-bottom: 10px;
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

h1 {
    color: #F5821F;
    font-family: Bebas Neue;
    font-size: 68px;
    font-style: normal;
    font-weight: 400;
    line-height: 70px;
    margin: 0px;

    /* 105.882% */
    text-transform: uppercase;
}

.btn {
    border-radius: 12px;
    background-color: #f5821f;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #ffffff;
    padding: 15px 30px;
    border: 1px solid rgba(255, 255, 255, 0);
}

.btn-light {
    border-radius: 12px;
    background-color: transparent;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #ffffff;
    padding: 15px 30px;
    border: 1.5px solid #ffffff;
}

.formsec {
    width: 75%;
    margin: auto;
}


/**Responsive Design**/
* {
    box-sizing: border-box;
  }
  
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  [class*="col-"] {
    float: left;
    padding: 15px;
  }

  /* For mobile phones: */
[class*="col-"] {
    width: 100%;
  }
  
  @media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
    .formsec {max-width: 100%;}
	
  }

  @media only screen and (max-width: 768px) {
    .formsec {
	width: 100%;
		}

	h1, h2 {
		text-align: center; 
		font-size: 42px !important; 
		line-height: 50px !important;
		}

	.center {
		display: flex;
		justify-content: center;
		align-items: center;
}
  }